<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
    <meta charset="UTF-8">
    <title>Golfer Profile</title>
    <link rel="stylesheet" th:href="@{/css/koley.css}">

</head>
<body>
<h1>Golfer</h1>
<div>
    <img th:src="@{${golfer.profilePicture}}" alt="Picture of the best golfer to ever live" width="200" height="200">
    <p><b>First Name:</b> <span th:text="${golfer.firstName}"></span></p>
    <p><b>Last Name:</b> <span th:text="${golfer.lastName}"></span></p>
    <p><b>Username:</b> <span th:text="${golfer.userName}"></span></p>
    <p><b>Description:</b> <span th:text="${golfer.profileDescription}"></span></p>
    <p><b>Music Genre:</b><span>th.text="${golfer.musicGenre}"</span></p>
    <p><b>Drinks Alcohol:</b><span>th.text="${golfer.drinksAlcohol}"</span></p>
    <p><b>Gambles:</b><span>th.text="${golfer.gambles}"</span></p>
    <p><b>Handicap</b><span>th.text="${golfer.handicap}"</span></p>
    <p><b>Intensity</b><span>th.text="${golfer.intensity}"</span></p>
</div>
</body>
</html>